---

---

<header
  class="flex space-x-4 justify-between items-center py-10 mx-auto w-[75%]"
>
  <div class="flex items-center space-x-8">
    <img
      src="https://iili.io/3i45K0P.png"
      alt="Logo"
      class="h-12 w-12 rounded-full"
    />
    <h1 class="text-2xl font-bold text-white">Luna Amaterasu</h1>
  </div>

  <nav class="flex space-x-3 opacity-90">
    <a
      href="#top"
      style="color: white;"
      class="py-2 px-4 rounded-full transition-all duration-300 ease-in-out
  hover:scale-95
  hover:shadow-[0_0_0_5px_#ff3366,_0_0_10px_#ff3366,_0_0_15px_#ff3366,_0_0_30px_#ff3366]
  cursor-pointer"
      >Home</a
    >

    <a
      href="#about"
      style="color: white;"
      class="py-2 px-4 rounded-full transition-all duration-300 ease-in-out
  hover:scale-95
  hover:shadow-[0_0_0_5px_#ff3366,_0_0_10px_#ff3366,_0_0_15px_#ff3366,_0_0_30px_#ff3366]
  cursor-pointer"
      >About</a
    >
    <a
      href="#experience"
      style="color: white;"
      class="py-2 px-4 rounded-full transition-all duration-300 ease-in-out
  hover:scale-95
  hover:shadow-[0_0_0_5px_#ff3366,_0_0_10px_#ff3366,_0_0_15px_#ff3366,_0_0_30px_#ff3366]
  cursor-pointer"
      >Experience</a
    >
    <a
      href="#projects"
      style="color: white;"
      class="py-2 px-4 rounded-full transition-all duration-300 ease-in-out
  hover:scale-95
  hover:shadow-[0_0_0_5px_#ff3366,_0_0_10px_#ff3366,_0_0_15px_#ff3366,_0_0_30px_#ff3366]
  cursor-pointer"
      >Projects</a
    >
    <a
      href="#contact"
      style="color: white;"
      class="py-2 px-4 rounded-full transition-all duration-300 ease-in-out
  hover:scale-95
  hover:shadow-[0_0_0_5px_#ff3366,_0_0_10px_#ff3366,_0_0_15px_#ff3366,_0_0_30px_#ff3366]
  cursor-pointer"
      >Contact</a
    >
  </nav>
</header>

